<h2 id="title">Ember.js auth SPA</h2>

{{outlet}}

{{#if session.user}}
    <p>
        <button {{action "logout"}}>Logout</button>
    </p>
{{else}}
    <p>{{#link-to "login" tagName="button" class="login-button"}}Login{{/link-to}}</p>
{{/if}}
