{{#if session.user}}
    <h4>You are logged in as {{session.user.name}}</h4>
{{/if}}

<p>Main Page</p>
<p>{{#link-to "contacts"}}Contacts Page{{/link-to}}</p>
<p>{{#link-to "admin"}}Admin dashboard{{/link-to}}</p>